{% extends 'layouts/dashboard.html' %}

{% block content %}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Pools</h5>
    </div>
    <div class="ibox-content">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="stratum+tcp://uk1.ghash.io:3333">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="kamillo.worker1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" value="qwerty">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Priority</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" value="1">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button class="btn btn-danger">Remove pool</button>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Priority</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="button" class="btn btn-danger">Remove pool</button>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="button" class="btn btn-white">Add new pool</button>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Miner</h5>
    </div>
    <div class="ibox-content">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Clockrate</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option>500</option>
                        <option>550</option>
                        <option>600</option>
                        <option selected="selected">650</option>
                        <option>700</option>
                        <option>750</option>
                        <option>800</option>
                        <option>850</option>
                        <option>900</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Fan Speed %</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option>30</option>
                        <option>80</option>
                        <option>100</option>
                        <option selected="selected">auto</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Overheat C</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option>80</option>
                        <option selected="selected">95</option>
                        <option>100</option>
                    </select>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
