{% extends 'layouts/dashboard.html' %}

{% block content %}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-8">
                <div>
                    <h5>Hashrate</h5>
                    <small>Hashrate of all boards</small>
                </div>
                <div>
                    <canvas id="lineChart" height="232" width="997" style="width: 997px; height: 232px;"></canvas>
                </div>
            </div>
            <div class="col-lg-4" ng-controller="SummaryController">
                <div class="widget style1 navy-bg" ng-show="summary.ghs">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-rocket fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span>Total Hashrate</span>
                            <h2 class="font-bold">{[ summary.ghs.toFixed(2) ]} GHs</h2>
                        </div>
                    </div>
                </div>
                <div ng-show="summary.accepted">
                    <div>
                        <span>Accepted</span>
                        <small class="pull-right">{[ summary.accepted ]}</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: {[ summary.accepted_percent ]}%;" class="progress-bar"></div>
                    </div>
                    <div>
                        <span>Rejected</span>
                        <small class="pull-right">{[ summary.rejected ]}</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: {[ summary.rejected_percent ]}%;" class="progress-bar progress-bar-danger"></div>
                    </div>
                    <div class="widget-text-box" ng-show="summary.pool">
                       <span>
                            <i class="fa fa-circle green"></i>
                            Current pool: <strong>{[ summary.pool.url ]}</strong>
                        </span>
                        <small class="pull-right">{[ summary.pool.user ]}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-controller="DevicesController">
    <div class="jumbotron" ng-show="devices === null">
        <p class="text-center">Searching for devices...</p>
    </div>

    <div class="jumbotron" ng-show="devices.length === 0">
        <p class="text-center">No devices were detected</p>
    </div>

    <div role="tabpanel" ng-show="devices.length">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-repeat="device in devices" ng-class="{active: selectedTab === $index}">
                <a href="#device{[ $index ]}" aria-controls="device{[ $index ]}" role="tab" data-toggle="tab" ng-click="selectTab($index)">{[ device.name ]} {[ device.id ]}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="device{[ $index ]}" ng-repeat="device in devices" ng-class="{active: selectedTab === $index}">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget style1 navy-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-rocket fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span> Hashrate </span>
                                    <h2 class="font-bold">{[ device.ghs.toFixed(2) ]} GHs</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 navy-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-tachometer fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span>Temperature</span>
                                    <h2 class="font-bold">{[ device.temperature ]}'C</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 navy-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-thumbs-up fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span>Accepted</span>
                                    <h2 class="font-bold">{[ device.accepted ]}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 navy-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-recycle fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span>Rejected</span>
                                    <h2 class="font-bold">{[ device.rejected ]}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="widget style1 ibox-content">
                            <div class="row vertical-align">
                                <div class="col-xs-3">
                                    <i class="fa fa-clock-o fa-3x has-success"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h3 class="font-bold">{[ device.clockrate ]} MHS</h3>
                                    <span>Clockrate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="widget style1 ibox-content">
                            <div class="row vertical-align">
                                <div class="col-xs-3">
                                    <i class="fa fa-bolt fa-3x has-success"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h3 class="font-bold">{[ device.voltage ]} V</h3>
                                    <span>Voltage</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="widget style1 ibox-content">
                            <div class="row vertical-align">
                                <div class="col-xs-3">
                                    <i class="fa fa-circle fa-3x has-success"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h3 class="font-bold">{[ device.fan ]} %</h3>
                                    <span>Fan Speed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    $.get('/chart.js', function(data) {
        var chart = new MiningKitLineChart('lineChart', {
            labels: ['-30 min', '-25 min', '-20 min', '-15 min', '-10 min', '-5 min', 'Now'],
            lines: data.lines
        });

        setInterval(function() {
            $.get('/chart.js', function(data) {
                chart.update(data.lines);
            });
        }, 3000);
    });
});
</script>
{% endblock %}
