{% extends 'layouts/dashboard.html' %}

{% block content %}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-8">
                <div>
                    <h5>Hashrate</h5>
                    <small>Hashrate of all boards</small>
                </div>
                <div>
                    <canvas id="lineChart" height="232" width="997" style="width: 997px; height: 232px;"></canvas>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-rocket fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Total HashRate </span>
                            <h2 class="font-bold">1050 Ghs</h2>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <span>Accepted</span>
                        <small class="pull-right">15855</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: 60%;" class="progress-bar"></div>
                    </div>
                    <div>
                        <span>Rejected</span>
                        <small class="pull-right">14</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: 14%;" class="progress-bar progress-bar-danger"></div>
                    </div>
                    <div class="widget-text-box">
                       <span>
                            <i class="fa fa-circle green"></i>
                            Current pool: <strong>stratum+tcp://uk1.ghash.io:3333</strong>
                        </span>
                        <small class="pull-right">kamillo.worker1</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel blank-panel">
    <div class="panel-heading">
        <div class="panel-options">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-1" aria-expanded="true">
                        <i class="fa fa-circle green"></i> HFB0 0036
                    </a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#tab-2" aria-expanded="false">HFB1 0124</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget style1 navy-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-rocket fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span> Hashrate </span>
                                    <h2 class="font-bold">455 GHs</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-tachometer fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span>Temperature</span>
                                    <h2 class="font-bold">86'C</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 navy-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-thumbs-up fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span>Accepted</span>
                                    <h2 class="font-bold">5855</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 yellow-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-recycle fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span> Rejected </span>
                                    <h2 class="font-bold">3</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="widget style1 ibox-content">
                            <div class="row vertical-align">
                                <div class="col-xs-3">
                                    <i class="fa fa-clock-o fa-3x has-success"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h3 class="font-bold">650 MHS</h3>
                                    <span>ClockRate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="widget style1 ibox-content">
                            <div class="row vertical-align">
                                <div class="col-xs-3">
                                    <i class="fa fa-bolt fa-3x has-success"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h3 class="font-bold">0.78 V</h3>
                                    <span>Voltage</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="widget style1 ibox-content">
                            <div class="row vertical-align">
                                <div class="col-xs-3">
                                    <i class="fa fa-circle fa-3x has-success"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h3 class="font-bold">85 %</h3>
                                    <span>Fan Speed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <strong>Donec quam felis</strong>
                <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath </p>
                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    var lineData = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
            {
                label: "Example dataset",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [65, 59, 80, 81, 56, 55, 40]
            },
            {
                label: "Example dataset",
                fillColor: "rgba(26,179,148,0.5)",
                strokeColor: "rgba(26,179,148,0.7)",
                pointColor: "rgba(26,179,148,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(26,179,148,1)",
                data: [28, 48, 40, 19, 86, 27, 90]
            }
        ]
    };
    var lineOptions = {
        scaleShowGridLines: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        scaleGridLineWidth: 1,
        bezierCurve: true,
        bezierCurveTension: 0.4,
        pointDot: true,
        pointDotRadius: 4,
        pointDotStrokeWidth: 1,
        pointHitDetectionRadius: 20,
        datasetStroke: true,
        datasetStrokeWidth: 2,
        datasetFill: true,
        responsive: true,
    };
    var ctx = document.getElementById("lineChart").getContext("2d");
    var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
});
</script>
{% endblock %}
